/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
}

/* Body */

/* First section */
section {
    height: 100vh;
    width: 100%;
    position: relative;
}

#vans-sneakers {
    background-color: red;
}

img {
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


h1 {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 500px;
}


/* Second section */
#tommy-sneakers {
    background-color: green;
}

/* Third section */
#converse-sneakers {
    background-color: yellow;
}

#converse-sneakers h1 {
    color: green;
}

/* Nav men첫 */
.nav-men첫 {
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 10px;   
}

.nav-men첫 li {
    list-style-type: none;
    display: inline-block;
}

.nav-men첫 li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px 14px;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 10px;   
}
